[submodule "janus/solarized"]
	path = janus/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "janus/vim-colors-solarized"]
	path = janus/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "janus/nginx-vim-syntax"]
	path = janus/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "janus/vim-yaml"]
	path = janus/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
